.header {
    background-color:#26d0c9;
    color:#fff;
    height: 90px;
    padding-bottom: 15px;
    border-bottom: 50px;
    font-size: 20px;
}

.description {
    height:300px;
    width:300px;
    font-family:"Avenir Next";
    text-align: center;
}

.description p {
    letter-spacing: 2px;
}
.container{
   font-family: 'Courier New', sans-serif;
   width: 300px;
   margin: 30px auto 0;
   font-weight: bold; 
}

#target, #result{
    font-size: 32px;
    margin-bottom: 15px;
    background: #ccc;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}

#result.standby{
    opacity: 0.5;
}

#result.perfect {
    background: #FFC0CB;
    color: #FFEFD5;

}

#start{
    float: left;
    border-radius: 5px;
    text-align: center;
}

#stop{
    float: right;
    border-radius: 5px;
    text-align: center;
}

#start, #stop{
    cursor: pointer;
    font-size: 18px;
    width:145px;
    background: #eee;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 6px 0 #ccc;
}

#start.pushed,#stop.pushed{
    margin-top: 3px;
    box-shadow: 0 3px 0 #ccc;
}